doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Cloud Storage
    link(rel='stylesheet' href='/css/main.css')
    link(rel='stylesheet' href='/css/all.min.css')
    link(rel='stylesheet' href='/css/normalize.css')
    link(rel="icon" type="image/png" href="/img/favicon.ico")
    
  body
    include _header

    .container
      block content
        h1 Please login to get access to the application!

    include _footer

    script(src='/js/bundle.js')

